<div main="background">
    <div class="login d-flex justify-content-center">
        <div class="card-body">
            <h4 class="card-title">Faça seu login</h4>
            <br>
            <div class="input">
                <div class="col">
                <label for="exampleFormControlInput1" class="form-label"></label>
                <input type="text" placeholder="CPF" class="form-control" formControlName="numeroContaOrigem">
                </div>
                
                <div class="col">
                <label for="exampleFormControlInput1" class="form-label"></label>
                <input type="password" placeholder="Senha" class="form-control" formControlName="numeroContaOrigem">
                </div>
            </div>

            <a href="#" class="btn btn-info">CONTINUAR</a>
            
            <div class="esqueci">
                <a href="#">Esqueci minha senha</a>
                <br>
                <a href="#">Ainda não sou cliente</a>
            </div>
        </div>
    </div>
</div>