<div class="login d-flex justify-content-center">
    <div class="card-body">
        <h5 class="card-title">Faça seu login</h5>
        <br>
        <div class="input">
            <div class="col">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="text" placeholder="CPF" class="form-control" formControlName="numeroContaOrigem">
            </div>
        </div>
        <div class="input">
            <div class="col">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="password" placeholder="Senha" class="form-control" formControlName="numeroContaOrigem">
            </div>
        </div>
        <br>
        <br>
        <a href="#" class="btn btn-info">Continuar</a>
    </div>
</div>