<h1 class="mt-5 mb-4">Cadastrar nova conta</h1>


<form [formGroup]="formGroup" class="mb-3" (ngSubmit)="cadastrar()">
  <div class="row">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Conta</label>
      <input type="text" class="form-control" formControlName="numero">
      <small class="text-danger mb-2" *ngIf="formGroup.get('numero')?.errors &&
      formGroup.get('numero')?.hasError('required')">Campo obrigatório</small>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Agência</label>
      <input type="text" class="form-control" formControlName="agencia">
      <small class="text-danger mb-2" *ngIf="formGroup.get('agencia')?.errors &&
      formGroup.get('agencia')?.hasError('required')">Campo obrigatório</small>
    </div>

  </div>
  <div class="row mt-3">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Cliente</label>
      <select class="form-select" aria-label="Default select example" formControlName="cliente">

        <option *ngFor="let cliente of clientes;" value="{{cliente.id}}">{{cliente.nome}}</option>
      </select>
      <small class="text-danger mb-2" *ngIf="formGroup.get('cliente')?.errors &&
      formGroup.get('cliente')?.hasError('required')">Campo obrigatório</small>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Saldo</label>
      <input type="number" class="form-control" formControlName="saldo">
      <small class="text-danger mb-2" *ngIf="formGroup.get('saldo')?.errors &&
      formGroup.get('saldo')?.hasError('required')">Campo obrigatório</small>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button [disabled]="!formGroup.valid" type="submit" class=" mt-4 btn btn-dark d-flex justify-content-center"
      titulo="Cadastrar"> Cadastrar </button>
  </div>
</form>
