<h1 class="mt-5 mb-4">Transferência</h1>


<form [formGroup]="formGroup" class="mb-3" (ngSubmit)="transferir()">
  <div class="row">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Minha conta</label>
      <input type="text" class="form-control" formControlName="numeroContaOrigem">
      <small class="textobrigatorio mb-2" *ngIf="formGroup.get('numeroContaOrigem')?.errors &&
      formGroup.get('numeroContaOrigem')?.hasError('required')">Obrigatório</small>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Minha agência</label>
      <input type="text" class="form-control" formControlName="agenciaOrigem">
      <small class="textobrigatorio mb-2" *ngIf="formGroup.get('agenciaOrigem')?.errors &&
      formGroup.get('agenciaOrigem')?.hasError('required')">Obrigatório</small>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Conta de destino</label>
      <input type="text" class="form-control" formControlName="numeroContaDestino">
      <small class="textobrigatorio mb-2" *ngIf="formGroup.get('numeroContaDestino')?.errors &&
      formGroup.get('numeroContaDestino')?.hasError('required')">Obrigatório</small>
    </div>
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Agência de destino</label>
      <input type="text" class="form-control" formControlName="agenciaDestino">
      <small class="textobrigatorio mb-2" *ngIf="formGroup.get('agenciaDestino')?.errors &&
      formGroup.get('agenciaDestino')?.hasError('required')">Obrigatório</small>
    </div>
  </div>
  <div>
    <div class="col-6">
      <label for="exampleFormControlInput1" class="form-label">Valor</label>
      <input type="text" class="form-control" formControlName="valor">
      <small class="textobrigatorio mb-2" *ngIf="formGroup.get('valor')?.errors &&
      formGroup.get('valor')?.hasError('required')">Obrigatório</small>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button [disabled]="!formGroup.valid" type="submit" class=" mt-4 btn btn-dark d-flex justify-content-center"
      titulo="Cadastrar"> Transferir </button>
  </div>
</form>
