<h1 class="mt-5 mb-4"> Cadastrar Novo Cliente </h1>



<form [formGroup]="formGroup" class="mb-3" (ngSubmit)="enviar()">
  <div class="row">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label"> Nome</label>
      <input type="text" class="form-control" formControlName="nome">
    </div>
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label"> Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>

  </div>
  <div class="row mt-2">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label"> CPF</label>
      <input type="text" class="form-control" formControlName="cpf">
    </div>
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label"> Observações</label>
      <input type="text" class="form-control" formControlName="observacoes">
    </div>
  </div>
  
  <p></p>
  <button [disabled]="!formGroup.valid" type="submit" class="btn btn-dark d-flex justify-content-center"
    titulo="Cadastrar"> Cadastrar </button>
</form>
