<div class="row" style="align-items: center">
  <div class="col-10">
    <h1 class="mt-5 mb-4">Clientes</h1>
  </div>
  <div class="col-2">
    <a class="btn btn-dark" routerLink="cadastrar">Cadastrar</a>
  </div>
</div>

<div *ngIf="!clientes.length">
  <div class="d-flex justify-content-center">
    <div class="spinner-border m-5" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<table *ngIf="clientes.length" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">CPF</th>
      <th scope="col">Observações</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes;">
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.observacoes }}</td>
      <td>
        <i *ngIf="cliente.ativo" class="fas fa-thumbs-up text-success"></i>
        <i *ngIf="!cliente.ativo" class="fas fa-thumbs-down text-danger"></i>
      </td>
      <td>
        <i class="fas fa-trash-alt text-danger" (click)="deletar(cliente.id)" style="cursor:pointer"></i>
      </td>
    </tr>
  </tbody>
</table>
