<div class="background">
    <div class="texto-principal">
        <h1 class="mt-4">O futuro é a razão que a gente faz planos.</h1>
        <br>
        <p>Escolha o futuro. Comece a controlar melhor sua vida financeira com o <b>Mu!Bank.</b></p>
    </div>
</div>

<section class="cartao">
    <div class="texto-secundario">
        <h2 class="mt-4"><a href="#">Cartão de Crédito</a>
        <br>Pode chamar ele de roxinho. Além disso, pode chamar ele de moderno, gratuito e prático também.</h2>
        <br>
        <p><a href="#">Saiba mais →</a></p>
    </div>
    <div class="cartao-img"></div>
    <img src="./img/bike.jpg">
</section>

