<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MU! Bank</a>
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="menu">
          <a class="nav-link" routerLink="/extrato" routerLinkActive="active">Extrato</a>
        </li>
        <li class="menu">
          <a class="nav-link" routerLink="/clientes" routerLinkActive="active">Clientes</a>
        </li>
        <li class="menu">
          <a class="nav-link" routerLink="/contas" routerLinkActive="active">Contas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Serviços
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/deposito" routerLinkActive="active"> Depósito </a></li>
            <li><a class="dropdown-item" routerLink="/saque" routerLinkActive="active"> Saque </a></li>
            <li><a class="dropdown-item " routerLink="/transferencia" routerLinkActive="active"> Transferência </a></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="login">
          <a class="fas fa-user" routerLink="/login" routerLinkActive="active"></a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>


