.navbar {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #212529fb;
}

.menu {
  margin-left: 10px;
}

.nav-item {
  margin-left: 10px;
}

.navbar-brand img{
  padding: 2px 0px 3px 0px;
  height: 30px;
}

.navbar-brand img:hover{
  padding: 0px 3px 1px 0px;
  height: 29px;
  transition: 0.3s;
}

.login a {
  text-decoration: none;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
}

.login a:hover {
  color: rgb(43, 214, 226);
  transition: 0.3s;
}

.login {
  text-decoration: none;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
}

.menu a:hover {
  color: #2bd6e2;
  transition: 0.3s;
}

.nav-item a:hover {
  color: #2bd6e2;
  transition: 0.3s;
}
